# Copy this file to .env and fill values before deploying.
# Keep the file private and do NOT commit real secrets to git.

API_ID=38072560
API_HASH=70b34502e975e8322081b6e4a72ef313
BOT_TOKEN=7632283705:AAH4b_yX6xgK1SZX6uXo7yXDZDEh1VGSRJ0
ASSISTANT_SESSION=BQJE8PAArNIHViqCymbKFONSQcKoHyADqns9y2dDBZcO4DFDocjIU9ixsW1aMJ6ySvRb6tFSLGIqI0cbzmZJU7jKuKqP2N6IpF2P-3UyxOfqHUc55UtMuGzO2IC4A3vu7YiOkTYCjOvt2ZSM47_K4bICUfDu6LCyni7SaQAgzHNPAhpXI38pF64gGk7PWdSIDZtRgyXpUG7ixG5AhO7vKeFLdpLVxybEMFV2UUZbeMwQNFRFobYJVO2IM2yOnDVH8JaykxnDto1o8fIqYGj70qkanvUuN4XyQ_F9M_81gxctgo-jxFNMprssFDa9WZ3Pep-2LuL4WSQtpWPKci1jtbVyz2jYuAAAAAFsgug5AA
OWNER_ID=7422886206

MONGO_URI=mongodb+srv://dlkuser:Khiem@123@cluster0.skwknyy.mongodb.net/?appName=Cluster0
MONGO_DBNAME=khiem_radio
LOG_CHANNEL_ID=@nono_room
YT_DLP_COOKIES=/path/to/cookies.txt

# Optional
DEV_LINK=https://t.me/Dichvumxh307
SUPPORT_LINK=https://t.me/nono_room
